# Dependencias generales
node_modules

#Importante, atentos con estos archivos, para el dist e plesk
build 
dist

# Archivos de sistema y editor
.DS_Store
Thumbs.db
.vscode
.idea

# Logs y errores
*.log
npm-debug.log*

# Variables de entorno (Seguridad)
.env
.env.local
.env.*.local

# Archivos de Docker/Data locales (para no subir bases de datos al repo)
mysql_data/
keycloak_data/